services:
  chat-api:
    build:
      context: ../services/chat-api
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    restart: always

volumes:
  mongo_data:
